:root {
  --bg_color:rgb(50, 50, 50);
  --light_text_color:rgb(255, 255, 255);
  --card_bg: rgb(25, 25, 25);
  --btn_blue:#3e55a1;
  --clicked: #52a13e;
  --exit: #af3939
}

.cart-modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .cart-modal-content {
    background-color: var(--bg_color);
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    max-width: 600px;
    height: 800px;
  }
  
  .cart-close
  {
    display: block;
    text-align: right;
  }

  #cart-close-btn {
    background-color: var(--exit);
    border-radius: 50%;
    border-width: 0;
  }

  #cart-close-btn:hover {
    background-color: #7a2222;
  }

  .cart-title
  {
    display: block;
    position: relative;
    text-align: center;
    color: var(--light_text_color);
  }
  
  .purchase-cart-btn
  {
    display: block;
    position: relative;
    top: 10px;
    text-align: center;
  }

  .btn_purchase{
    background-color: var(--clicked);
    border-radius: 10px;
    border-width: 0;
    padding: 10px;
    color: var(--light_text_color);
    font-weight: bold;
  }

  .btn_purchase:hover{
    background-color: darkgreen;
    border-radius: 10px;
    border-width: 0;
    padding: 10px;
    color: var(--light_text_color);
    font-weight: bold;
  }

  .cart-total
  {
    display: block;
    position: relative;
    text-align: right;
    font-size: 25px;
    color: var(--light_text_color);
  }

  .cart-items
  {
    position: relative;
    width: 500px;
    left: 30px;
    height: 575px;
    overflow: auto;
    font-size: 15px;
    border-radius: 5px;
    outline-style: solid;
    outline-color: green;
  }

  /*
  

  .cart-remove
  {

  }
  */

  .cart-item
  {
    display: block;
    position: relative;
    margin: 20px;
    width: 90%;
    height: 50px;
    border-bottom: dotted;  
    color: var(--light_text_color);  
  }

  .cart-item-title
  {
    position: absolute;
    display: block;
    width: 250px;
    left: -10px;
    top: 0px;
    overflow: auto;
    height: 25px;
    white-space: no-wrap;
  }

  .cart-item-price
  {
    position: absolute;
    display: inline-block;
    right: -15px;
    top: -5px;
  }

  .cart-discounted-price
  {
    color: green;
  }
