.cart-modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .cart-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
    max-width: 600px;
    max-height: 800px;
  }


  .cart-title
  {
    display: block;
    position: relative;
    text-align: center;
  }
  
  .purchase-cart-btn
  {
    display: block;
    position: relative;
    top: 10px;
    text-align: center;
  }

  .cart-total
  {
    display: block;
    position: relative;
    text-align: right;
    font-size: 25px;
  }

  .cart-items
  {
    position: relative;
    width: 500px;
    left: 30px;
    height: 650px;
    overflow: auto;
    font-size: 15px;
  }

  /*
  

  .cart-remove
  {

  }
  */

  .cart-item
  {
    display: block;
    margin: 20px;
    width: 90%;
    height: 50px;
    border-bottom: dotted;    
  }

  .cart-item-title
  {
    position: absolute;
    display: block;
    width: 250px;
    left: 0;
    overflow: auto;
    height: 25px;
    white-space: no-wrap;
  }

  .cart-item-price
  {
    position: absolute;
    display: inline-block;
    right: 0;
  }

  .cart-discounted-price
  {
    color: darkgreen;
  }
