.overlayImageWrapper {
    max-width: 650px;
    max-height: 275px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .container-popup {
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
  }
  
  .popup {
    width: 40%;
    height: 90%;
    background: #292929;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 20px;
    z-index: 101;
  }

  .is-hidden {
    display: none;
  }
  .is-visuallyHidden {
    opacity: 0;
  }

  .is-visible {
    opacity: 100;
    display: block;
  }
  
  .Close {
    color: #aaaaaa;
    float: right;
    font-size: 16px;
  }
  .Close:hover,
  .Close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .is-blurred {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  
  #overlay_title {
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    margin-top: 30px;
    font-size: 16px;
    margin-top: -25px;
  }

  #overlay_title_pay {
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    margin-top: 30px;
    font-size: 16px;
    margin-top: 10px;
  }
  
  #overlay_exit_button {
    position:absolute;
    top:0;
    right:0;
    width: 25px;
    margin-top: -15px;
  }
  
  
  .buttonCircle {
    display:block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    border: none;
    color: rgb(0, 0, 0);
    background-color: #af3939;
    font-size: 16px;
    font-weight: bold;
  }

  .buttonPin {
    display:block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    border: none;
    color: rgb(0, 0, 0);
    background-color: #afa739;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  #buttonRowOuter {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(29, 29, 29);
  }

  #buttonRowOuterPrice {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(29, 29, 29);
  }
  
  .buttonRowInner {
    display: inline-block;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 10px;
    margin-bottom: auto;
  }
  
  .playSettingsButton {
    display:block;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    text-align: center;
    border: none;
    color: #ffffff;
    background-color: #3e55a1;
    font-size: 18px;
    font-weight: bold;
  }
  
  .playGameButton {
    display:block;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    text-align: center;
    border: none;
    color: #ffffff;
    background-color: #4aac4f;
    font-size: 18px;
    font-weight: bold;
  }

  .gamePrice {
    display: inline-block;
    color: #4aac4f;
    font-weight: bold;

    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: auto;
  }
  
  .scrollabletextbox {
    width: 650px;
    height: 360px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    text-align: center;
    overflow:scroll;
    background-color: rgb(29, 29, 29);
    color: #ffffff;
    font-weight: 500;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    outline: none;
    border: 0px solid;
    border-radius: 10px;
  }

  .scrollabletextbox_pay {
    width: 650px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    text-align: center;
    overflow:scroll;
    background-color: rgb(29, 29, 29);
    color: #ffffff;
    font-weight: 500;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    outline: none;
    border: 0px solid;
    border-radius: 10px;
  }

  .buttonRowPayOverlay {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: auto;
  }

  .addCartWishlist {
    display:block;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    border: none;
    color: #ffffff;
    background-color: #3e55a1;
    font-size: 18px;
    font-weight: bold;
  }