.Modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.Modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  height: 600px;
}
.ModalOpen {
  overflow: hidden;
}
.is-hidden {
  display: none;
}
.is-visuallyHidden {
  opacity: 0;
}

.Close {
  color: #aaaaaa;
  float: right;
  font-size: 16px;
}
.Close:hover,
.Close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.popup-card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 400px;
  height: 400px;
  margin: auto;
  text-align: center;
}

.popup-title {
  color: grey;
  font-size: 18px;
}

#popup-logo {
  width: 100px;
}

#popup-logout {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#popup-logout {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

#popup-logout:hover,
#popup-logo:hover {
  opacity: 0.7;
}

.btn-outline-danger {
  display: flex;
  margin-top: 1em;
  margin-left: 6em;
}

.fa-user:hover {
  color: grey;
}
