:root {
  --bg_color:rgb(50, 50, 50);
  --light_text_color:rgb(255, 255, 255);
  --card_bg: rgb(25, 25, 25);
}

body {
  background-color: var(--bg_color);
}

.fa-gear {
  color: white;
}
.fa-gear:hover {
  color: grey;
}

.unpinned {
  color: grey;
}

.fa-user {
  color: white;
}
.fa-user:hover {
  color: grey;
}

h4#top {
  padding-top: 1em;
  color: var(--light_text_color);
}
h4#Pinned {
  padding-top: 1em;
  color: var(--light_text_color);
}
h4#Categories {
  padding-top: 1em;
  color: var(--light_text_color);
}
h5#category-label {
  padding-top: 1em;
  color: var(--light_text_color);
  text-align: center;
  margin: auto;
}
h4 {
  padding-left: 1em;
}

.carousel-inner {
  min-height: 300px;
  padding-left: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#carouselExampleControlsThree .carousel-inner {
  padding-top: 4em;
  padding-bottom: 5em;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: black !important;
}

#carouselExampleControlsThree .carousel-control-prev,
#carouselExampleControlsThree .carousel-control-next {
  z-index: 11;
}

#search-button,
.form-outline {
  height: 10px;
  background-color: grey;
}

.gallery {
  padding-top: 1em;
  padding-left: 2em;
  display: flex;
  flex-wrap: wrap;
}

.input-group {
  display: inline-flex !important;
  margin: 0;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  /* width: 350px;
  height: 250px; */
  max-width: 100%;
  max-height: 100%;
  background-color: var(--card_bg);
  color: var(--light_text_color);
  border-radius: 20px;
}

.gallery .card {
  max-width: 450px;
  max-height: 350px;
}

.gallery .card .img {
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-100%);
}

@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 25%;
    display: block;
    margin-bottom: 0%;
  }
  .carousel-inner {
    display: flex;
  }
  .card-body {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .stacked-card .btn-primary {
    margin-left: 90%;
    margin-top: -5%;
  }
}
.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-title {
  font-size: 18px;
  white-space: nowrap;
}
.card img {
  max-height: 100%;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}

.navbar {
  background-color: var(--card_bg);
}

.navbar-brand {
  color: var(--light_text_color);
  font-size: 24px;
}

.nav-link {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
