/* body {
  background-color: black;
} */
.fa-gear {
  color: white;
}

.fa-user {
  color: white;
}

h4#top {
  padding-top: 0.5em;
}
h4 {
  padding-left: 1em;
}

.carousel-inner {
  padding-left: 1em;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  max-width: 100%;
  max-height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-100%);
}

@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 25%;
    display: block;
    margin-bottom: 0%;
  }
  .carousel-inner {
    display: flex;
  }
  .card-body {
    display: flex;
    justify-content: space-around;
  }
}
.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-title {
  font-size: 18px;
  white-space: nowrap;
}
.card img {
  max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}
