.fa-gear {
  color: white;
}

.fa-user {
  color: white;
}
/* 
h4#top {
  padding-top: 1em;
} */

.active {
  color: #f00;
}

#search-button {
  background-color: grey;
}

h4 {
  padding-top: 1em;
  padding-left: 1em;
}

.btn-success {
  height: 40px;
}
.btn-light {
  width: 121px;
}

.clicked {
  background-color: black;
  color: white;
}
.carousel-inner {
  padding-left: 2em;
}

.gallery {
  padding-top: 1em;
  padding-left: 2em;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 0 0.5em;
  margin-bottom: 1em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;

  width: 400px;
  height: 300px;
}

.card-body {
  display: flex;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.carousel-control-prev,
.carousel-control-next {
  background-color: grey;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  top: 75%;
  transform: translateY(-100%);
}

@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    display: block;
    margin-bottom: 0%;
  }
  .carousel-inner {
    display: flex;
  }
  .card-body {
    display: flex;
    justify-content: space-around;
  }
}

.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-title {
  font-size: 15px;
  /* white-space: nowrap; */
  word-wrap: normal;
}
.card img {
  max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}

.card-sale-price {
  color: darkgreen;
  word-wrap: normal;
}

.card-price{
  word-wrap: normal;
}

/*
.sort-btn
{
  background-color: black;
  color: white;
  font-size: 24px;
  border: none;
}
*/

.sort-dropdown {
  position: relative;
  display: inline;
  left: 10px;
}

.sort-options {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 170px;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sort-options a {
  color: black;
  padding-left: 12px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.sort-dropdown:hover .sort-options {
  display: block;
}

.sort-options a:hover {
  background-color: #ddd;
}

.wish-cart
{
  display: inline;
  position: absolute;
  right: 2.5%;
}
