.fa-gear {
  color: white;
}

.fa-user {
  color: white;
}

h4#top {
  padding-top: 1em;
}
h4 {
  padding-left: 1em;
}

.carousel-inner {
  padding-left: 1em;
}

#carouselExampleControlsThree .carousel-inner {
  padding-top: 4em;
  padding-bottom: 5em;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: black !important;
}

#carouselExampleControlsThree .carousel-control-prev,
#carouselExampleControlsThree .carousel-control-next {
  z-index: 11;
}

#search-button,
.form-outline {
  height: 10px;
  background-color: grey;
}

.gallery {
  padding-top: 1em;
  padding-left: 2em;
  display: flex;
  flex-wrap: wrap;
}

.input-group {
  display: inline-flex !important;
  margin: 0;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  /* width: 350px;
  height: 250px; */
  max-width: 100%;
  max-height: 100%;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-100%);
}

@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 25%;
    display: block;
    margin-bottom: 0%;
  }
  .carousel-inner {
    display: flex;
  }
  .card-body {
    display: flex;
    justify-content: space-around;
  }

  .stacked-card .btn-primary {
    margin-left: 90%;
    margin-top: -5%;
  }
}
.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-title {
  font-size: 18px;
  white-space: nowrap;
}
.card img {
  max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}
