:root {
    --bg_color:rgb(50, 50, 50);
    --light_text_color:rgb(255, 255, 255);
    --card_bg: rgb(25, 25, 25);
    --btn_blue:#3e55a1;
    --clicked: #52a13e;
    --exit: #af3939
}

.wish-modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.wish-modal-content {
    background-color: var(--bg_color);
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    max-width: 600px;
    height: 800px;
}

.wish-close
{
    display: block;
    text-align: right;
}

#wish-close-btn {
    background-color: var(--exit);
    border-radius: 50%;
    border-width: 0;
}

#wish-close-btn:hover {
    background-color: #7a2222;
    border-radius: 50%;
    border-width: 0;
}

.wish-title
{
    display: block;
    position: relative;
    text-align: center;
    color: var(--light_text_color);
}

.purchase-wish-btn
{
    display: block;
    position: relative;
    top: 10px;
    text-align: center;
}

.wish-items
{
    position: relative;
    width: 500px;
    left: 30px;
    height: 650px;
    overflow: auto;
    font-size: 15px;
    border-radius: 5px;
    outline-style: solid;
    outline-color: green;
}

.wish-item
{
    display: block;
    margin: 20px;
    width: 90%;
    height: 50px;
    border-bottom: dotted;    
    color: var(--light_text_color);  
}

.wish-item-title
{
    position: absolute;
    display: block;
    width: 300px;
    left: 10px;
    overflow: auto;
    height: 25px;
    white-space: no-wrap;
}

.wish-item-price
{
    position: absolute;
    display: inline-block;
    right: 0;
}

.wish-discounted-price
{
    color: green;
}
